{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}

<button class="cart-btn" id="open-cart">
    🛒 Кошик
</button>

<div class="cart-overlay" id="cart-overlay"></div>

<div class="cart-sidebar" id="cart-sidebar">
{% csrf_token %}
    <div class="cart-header">
        <h2>Кошик</h2>

        <a class="close-cart" id="open-user_cart"
           href="{% url 'user:users_cart' %}">
            Сторінка кошика
        </a>

        <button class="close-cart" id="close-cart">
            ✖

        </button>
    </div>

    <div class="cart-items" id="cart-items-container">

    {% include "carts/includes/cart_items.html" with carts=carts %}

    </div>

    <div class="cart-footer">

        <div class="cart-total" id="cart-total-price">
            <span>Разом:</span>
            <strong>
                {{ carts.total_price }}
            </strong>
        </div>

        <button class="checkout-btn">
            <a href="{% url "orders:create_order"%}">
            Оформити замовлення
            </a>
        </button>

    </div>

</div>
<script>
const openCart = document.getElementById('open-cart');
const closeCart = document.getElementById('close-cart');
const cartSidebar = document.getElementById('cart-sidebar');
const cartOverlay = document.getElementById('cart-overlay');
function closeCartSidebar() {
    cartSidebar.classList.remove('active');
    cartOverlay.classList.remove('active');
    openCart.classList.remove('cart-btn--hidden');
}
openCart.addEventListener('click', () => {
    cartSidebar.classList.add('active');
    cartOverlay.classList.add('active');
    openCart.classList.add('cart-btn--hidden');
});
closeCart.addEventListener('click', closeCartSidebar);
cartOverlay.addEventListener('click', closeCartSidebar);
</script>