{% extends 'base.html' %}
{% load goods_tags %}

{% block content %}
<section class="section-catalog cards">
    {% if request.GET.q %}
    <h3 class="section-catalog__title">Результат пошуку по запиту {{ request.GET.q }}</h3>
    {% if not goods %}
    <h2>За запитом нічого не знайдено</h2>
    {% endif %}
    {% endif %}

    <div class="section-catalog__grid">
        {% for product in goods %}
        <article class="card">
            <div class="card__top">
                {% if product.category %}
                <span class="card__category">{{ product.category.name }}</span>
                {% endif %}
                <a href="{% url 'catalog:product' product.slug %}" class="card__img">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% endif %}
                </a>
                {% if product.discount %}
                <span class="card_label">-{{ product.discount }}%</span>
                {% endif %}
            </div>
            <div class="card__bottom">
                <div class="card__prices">
                    <div class="card__price card__price-discount">{{ product.sell_price }}</div>
                    <div class="card__price card__price-common">{{ product.price }}</div>
                </div>
                <a href="{% url 'catalog:product' product.slug %}" class="card__title">
                    {% autoescape off %}
                    {% if product.headline %}
                    {{ product.headline }}
                    {% else %}
                    {{ product.name }}
                    {% endif %}
                    {% endautoescape %}
                </a>
                <button class="card__btn" type="button">
                    <a href="{% url 'cart:cart_add' %}" class="add-to-cart" data-product-id="{{ product.id }}">
                        {% csrf_token %}
                        додати в кошик
                    </a>
                </button>
            </div>
            <div class="card__id">{{ product.display_id }}</div>
        </article>
        {% endfor %}
    </div>
</section>
{% endblock %}

{% block pagenacia %}
{% if goods %}
<form action="{% if request.GET.q %}{% url 'catalog:search' %}{% endif %}">
    <ul class="paginecia">
        {% for page in goods.paginator.page_range %}
        {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
        <li class="button_paginecia">
            <a class="button_paginecia_tag" href="?{% change_params page=page %}">{{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if request.GET.q %}
        <input type="hidden" name="q" value="{{ request.GET.q }}">
        {% endif %}
    </ul>
</form>
{% endif %}
{% endblock %}
