{% extends 'base.html' %}
{% load goods_tags %}
{%block content%}
<section class="cards">
     {%if request.GET.q%}
    <h3>Результат пошуку по запиту {{request.GET.q}}</h3>
    {%if not goods%}
    <h2>По пошуку ничего не знайдено</h2>
    {%endif%}
    {%endif%}
{% for product in goods%}
<div class="container container__cards">

    <div class="card">
        <div class="card__top">
            <a href="{% url "catalog:product" product.slug %}" class="card__img">
                {%if product.image%}
            <img src="{{ product.image.url }}" alt="{{product.name}}">
                {%endif%}
            </a>
            <div class="card_label">{{product.discount}}</div>

        </div>
        <div class="card__bottom">
            <div class="card__prices">

            <div class="card__price card__price-discount">{{product.sell_price}}</div>
            <div class="card__price card__price-common">{{product.price}}</div>

            </div>
            <a href="#!" class="card__title">
                {%autoescape off%}
                 {% if product.headline %}
                {{product.headline}}
                {% else %}
                {{product.name}}
                {% endif %}
                {%endautoescape%}
            </a>
            <button class="card__btn">
            <a href="{%url "cart:cart_add" product.slug%}"> додати в корзину
            </a>
            </button>

        </div>
            <div class="card__id">{{product.display_id}}</div>
    </div>

</div>
{% endfor %}
</section>
{%endblock%}
{%block pagenacia%}
{%if goods%}
<form action="{%if request.Gt.q%}{%url "catalog:search" %}{%endif%}">
<ul class="paginecia">

    {%for page in goods.paginator.page_range%}
    {%if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
     <li class="button_paginecia"><a class="button_paginecia_tag" href="?{%change_params page=page%}">{{page}}</a></li>
    {%endif%}
    {% endfor %}
    {%if request.Gt.q%}
        <input type="hidden" name="q" value="{{request.Get.q}}">
    {% endif %}

</ul>
{%endif%}
{%endblock%}