{% extends 'base.html' %}
{%block content%}
<div class="table-product">
    <div class="image-block">
        <img class="image-product" src="{{ product.image.url }}">
        <div class="id-product">{{product.display_id}}</div>
    </div>
    <div class="body-product">
        <h5 class="name-product">{{product.name}}</h5>
        <div class="price-product">
            <p></p>
            {%if product.discount%}
            <strong>
                {{product.sell_price}}
            </strong>
            {%else%}
             <strong>
                {{product.price}}
            </strong>
            {%endif%}
        </div>
        <h6 class="text-product">{{product.description}}</h6>
        <button class="footer-button">Додати в корзину</button>
    </div>
</div>
{%endblock%}
