{% load static %}
{%load goods_tags%}
<!Doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазин</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<header class="main-header">
    <nav class="main-nav">
        <a href="#">Доставка та оплата</a>
        <a href="#">Контакти</a>
        <a href="#">Питання та відповіді</a>
        <a href="#">Знаходження магазинів</a>
    </nav>
      <a href="#" class="auth-link">Увійти</a>
      <a href="#" class="auth-link1" >Реєстрація</a>
</header>
<img class="picture-logo" src="{% static 'images/теремок.png' %}">
<div class="content-wrapper">
    <aside class="left-sidebar">
    <div class="dropdown_meny_catalog">
        <button class="btn flash-btn">Каталог товарів</button>
        <div class="dropdown_catalog_content">
           {% tagcategories as categories %}
            {% for category in categories %}
            <a href="{% url "catalog:index" %}">{{category.name}}</a>
            {% endfor %}
        </div>
    </div>
 <div class="price-range">
    <div class="price-input">
        <div class="field">
            <span>Min</span>
            <input type="number" class="input-min" value="0">
        </div>
        <div class="separator">-</div>
        <div class="field">
            <span>Max</span>
            <input type="number" class="input-max" value="10000">
        </div>
    </div>
    <div class="slider">
        <div class="progress"></div>
    </div>
    <div class="range-input">
        <input type="range" class="range-min" min="0" max="10000" value="0" step="100">
        <input type="range" class="range-max" min="0" max="10000" value="10000" step="100">
    </div>
</div>
<div class="container_brend">
    <div class="select-btn open">
          <span class="btn-text">Бренди</span>
          <span class="arrow-dwn">
            <i class="fa-solid fa-chevron-down"></i>
        </span>
    </div>
    <ul class="list-items">
        <li class="item">
            <span class="checkbox">
              <i class="fa-solid fa-check check-icon"></i>
            </span>
            <span class="item-text"> FFFF</span>
        </li>
         <li class="item">
            <span class="checkbox">
              <i class="fa-solid fa-check check-icon"></i>
            </span>
            <span class="item-text"> DDDD</span>
        </li>

         <li class="item">
            <span class="checkbox">
              <i class="fa-solid fa-check check-icon"></i>
            </span>
            <span class="item-text"> VVVV</span>
        </li>
        <li class="item">
            <span class="checkbox">
              <i class="fa-solid fa-check check-icon"></i>
            </span>
            <span class="item-text"> BBBB</span>
        </li>

    </ul>
    </div>
    </aside>
</div>
<div class="search-box">
    <input class="search-txt"  type="text" id="searchinput" placeholder="Шукати">

    <button class="search-box_btn">
        <img class="picture"
             src="{% static 'images/лупа.png' %}">
    </button>
    <button class="search-box_btn" id="voicebtn">
    <img class="picture" src="{% static 'images/800309.png' %}">
    </button>
</div>
<div class="table-product">
    <div class="image-block">
        <img class="image-product" src="{{ product.image.url }}">
        <div class="id-product">{{product.display_id}}</div>
    </div>
    <div class="body-product">
        <h5 class="name-product">{{product.name}}</h5>
        <div class="price-product">
            <p></p>
            {%if product.discount%}
            <strong>
                {{product.sell_price}}
            </strong>
            {%else%}
             <strong>
                {{product.price}}
            </strong>
            {%endif%}
        </div>
        <h6 class="text-product">{{product.description}}</h6>
        <button class="footer-button">Додати в корзину</button>
    </div>
</div>
<div class="footer">
    <div class="container_footer">
        <div class="footer-row">
            <div class="footer-copyright footer-col">
              <div class="footer-copyright-name">
                  @ star_platunum
              </div>
                <p>
                  Учбовий сайт для покращення знань в галузі фронтент розробки та бекенд розробки
                </p>
            </div>
            <div class="footer-icons footer-col">
                <p>Мої контакти в соціальних мережах</p>
               <div class="footer-icons-row">
                   <a href="#">
                       <img  src="{% static 'images/instagram.png' %}" alt="">
                   </a>
                   <a href="#">
                       <img src="{% static 'images/in.png' %}" alt="">
                   </a>
                   <a href="#">
                       <img src="{% static 'images/telegram.png' %}" alt="">
                   </a>
                   <a href="#">
                       <img src="{% static 'images/github.png' %}" alt="">
                   </a>
               </div>
            </div>
            <div class="footer-contacts footer-col">
                    <p class="footer-copyright-name">КОНТАКТИ</p>
                 <p>+380661686925</p>
                 <p>+380634534534</p>
                 <p>+110661686925</p>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/Javamain.js' %}"></script>
<script src="{% static 'js/Speech AP.js' %}"></script>
<script src="{% static 'js/list.js' %}"></script>
</body>
</html>
