{% extends 'base.html' %}
{% load static %}

{% block extra_ui %}
<aside class="layout-sidebar left-sidebar profile-catalog-sidebar" aria-label="Каталог товарів">
    {% include "includes/catalog_dropdown.html" %}
</aside>
{% endblock %}

{% block content %}
<article class="product-detail table-product">
    <div class="product-detail__image image-block">
        {% if product.image %}
    <img class="image-product" src="{{ product.image.url }}" alt="{{ product.name }}">
{% else %}
    <img class="image-product" src="{% static 'images/теремок.png' %}" alt="{{ product.name }}">
{% endif %}
        <div class="id-product">{{ product.display_id }}</div>
    </div>
    <div class="product-detail__body body-product">
        <h1 class="name-product">{{ product.name }}</h1>
        <div class="price-product">
            {% if product.discount %}
            <strong>{{ product.sell_price }}</strong>
            {% else %}
            <strong>{{ product.price }}</strong>
            {% endif %}
        </div>
        <p class="text-product">{{ product.description }}</p>
        <button class="footer-button add-corzina-product" type="button">
            <a href="{% url 'cart:cart_add' %}" class="add-to-cart" data-product-id="{{ product.id }}">
                {% csrf_token %}
                додати в кошик
            </a>
        </button>
    </div>
</article>
{% endblock %}
