{% load static %}
<!Doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Магазин</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<header class="main-header">
    <nav class="main-nav">
        <a href="#">Доставка та оплата</a>
        <a href="#">Контакти</a>
        <a href="#">Питання та відповіді</a>
        <a href="#">Знаходження магазинів</a>
    </nav>
      <a href="#" class="auth-link">Увійти</a>
      <a href="#" class="auth-link1" >Реєстрація</a>
</header>
<img class="picture-logo" src="{% static 'images/теремок.png' %}">
<div class="content-wrapper">
    <aside class="left-sidebar">
    <div class="dropdown_meny_catalog">
        <button class="btn flash-btn">Каталог товарів</button>
        <div class="dropdown_catalog_content">
            <a href="#">Спальня</a>
            <a href="#">Ліжка та матрици</a>
            <a href="#">Ванна</a>
            <a href="#">Офіс</a>
            <a href="#">Кухня та їдальня</a>
            <a href="#">Зберігання</a>
            <a href="#">Для вікон</a>
            <a href="#">Для саду</a>
            <a href="#">Для дому</a>
            <a href="#">Різдво та Новий Рій</a>
            <a href="#">Новинки</a>
            <a href="#">Акція</a>
        </div>
    </div>
 <div class="price-range">
    <div class="price-input">
        <div class="field">
            <span>Min</span>
            <input type="number" class="input-min" value="0">
        </div>
        <div class="separator">-</div>
        <div class="field">
            <span>Max</span>
            <input type="number" class="input-max" value="10000">
        </div>
    </div>
    <div class="slider">
        <div class="progress"></div>
    </div>
    <div class="range-input">
        <input type="range" class="range-min" min="0" max="10000" value="0" step="100">
        <input type="range" class="range-max" min="0" max="10000" value="10000" step="100">
    </div>
</div>
<div class="container_brend">
    <div class="select-btn open">
          <span class="btn-text">Бренди</span>
          <span class="arrow-dwn">
            <i class="fa-solid fa-chevron-down"></i>
        </span>
    </div>
    <ul class="list-items">
        <li class="item">
            <span class="checkbox">
              <i class="fa-solid fa-check check-icon"></i>
            </span>
            <span class="item-text"> FFFF</span>
        </li>
         <li class="item">
            <span class="checkbox">
              <i class="fa-solid fa-check check-icon"></i>
            </span>
            <span class="item-text"> DDDD</span>
        </li>

         <li class="item">
            <span class="checkbox">
              <i class="fa-solid fa-check check-icon"></i>
            </span>
            <span class="item-text"> VVVV</span>
        </li>
        <li class="item">
            <span class="checkbox">
              <i class="fa-solid fa-check check-icon"></i>
            </span>
            <span class="item-text"> BBBB</span>
        </li>

    </ul>
    </div>
    </aside>
</div>
<div class="search-box">
    <input class="search-txt"  type="text" id="searchinput" placeholder="Шукати">

    <button class="search-box_btn">
        <img class="picture"
             src="{% static 'images/лупа.png' %}">
    </button>
    <button class="search-box_btn" id="voicebtn">
    <img class="picture" src="{% static 'images/800309.png' %}">
    </button>
</div>
<div class="table-product">
    <img class="image-product" src="{% static 'images/cover.jpg' %}">
    <div class="body-product">
        <div class="price-product">
            <p>Цена:</p>
            <strong>
                150.00$
            </strong>
        </div>
        <h5 class="name-product">Подушка мягкая</h5>
        <h6 class="text-product">Подушка мягкая классная вообще вау</h6>
        <button class="add-corzina-product"></button>
    </div>
</div>

<script src="{% static 'js/Javamain.js' %}"></script>
<script src="{% static 'js/Speech AP.js' %}"></script>
<script src="{% static 'js/list.js' %}"></script>
</body>
</html>
