.main-header {
    background: #0f7ba6;
    background: linear-gradient(
        90deg,
        rgba(15, 123, 166, 1) 0%,
        rgba(87, 199, 133, 1) 100%,
        rgba(237, 221, 83, 1) 100%
    );
    height: 50px;
    margin-bottom: 20px;
}



.left-sidebar {
    width: 300px;
}

.picture {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}

.search-box_btn {
    border: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.search-box {
    border: 5px solid mediumseagreen;
    display: inline-flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
     margin-top: 100px;
    position: absolute;
    top: 0;
    margin-left:500px;

}
.search-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    width: 700px;
}
/*.search-box {
    width: 50%;
    margin-top: 100px;
    position: absolute;
    top: 0;
    margin-left:500px;
}*/
.search-txt {
    border: none;
    width: 200px;
    outline: none;
    font-size: 20px;
    padding-right: 10px;
    background-color: transparent;
}

.btn {
    background-color: #0f3aa8;
    color: white;
    padding: 20px 40px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
    border-radius: 20px;
    text-transform: uppercase;
    transition: transform 0.5s;
    outline-offset: 5px;
    width: 300px;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #d8f8e8, #9fc2ff);
    min-height: 100vh;

}

.cina-range {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.flied {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    transform: scale(1.03);
}

.btn:active {
    transform: scale(0.95);
}

.btn:focus {
    outline-color: rgb(0, 94, 255);
}

.flash-btn {
    position: relative;
    overflow: hidden;
}

.flash-btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0.2;
    background-color: bisque;
    left: calc(50%- 50px);
    top: calc(50%- 50px);
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
    transition: transform 0.7s, opacity 0.3s;
}

.flash-btn:hover::after {
    transform: scale(5);
    opacity: 0.14;
}

.content-wrapper {
    margin-top: -110px;
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 30px;
    padding: 30px;
    display: flex;
    background: #B5EAD7;
    width:300px;
    margin-left:30px;
}

.price-range{
    width:265px;
    padding:20px;
    margin-top: 100px;
    border-radius:10px;
    font-family:Roboto, sans-serif;
    background: #ffffff;
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(30, 108, 255, 0.15);
}

.price-range h3{
    margin:0 0 5px;
}

.price-range p{
    margin:0 0 20px;
    color:#777;
    font-size:14px;
}

.price-input{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.field{
    display:flex;
    flex-direction:column;
    width:45%;
}

.field span{
    font-size:14px;
    margin-bottom:5px;
}

.field input{
    height:40px;
    border:1px solid #ccc;
    border-radius:5px;
    text-align:center;
    font-size:16px;
}

.separator{
    font-size:18px;
    margin-top:18px;
}

.slider{
    height:5px;
    background:#e6efff;;
    border-radius:10px;
    position:relative;
}

.slider .progress{
    height:5px;
    background: #1e6cff;
    border-radius:5px;
    position:absolute;
    left:0;
    right:0;
}

.range-input{
    position:relative;
}

.range-input input{
    position:absolute;
    top:-5px;
    width:100%;
    height:5px;
    background:none;
    pointer-events:none;
    -webkit-appearance:none;
}


.range-input input::-webkit-slider-thumb{
    pointer-events:auto;
    position:relative;
    z-index:3;
    background: #1e6cff
    border: 3px solid white;
}

.range-input input::-moz-range-thumb{
    pointer-events:auto;
    position:relative;
    z-index:3;
}



input[type="range"]::-webkit-slider-thumb{
    height:18px;
    width:18px;
    border-radius:50%;
    background:#17A2B8;
    cursor:pointer;
    -webkit-appearance:none;
}


input[type="range"]::-moz-range-thumb{
    height:18px;
    width:18px;
    border-radius:50%;
    background:#17A2B8;
    cursor:pointer;
}
.main-nav {
    display: flex;
    align-items: center;
}
.main-nav a{
margin-right:10px;
margin-left:10px;
}
.main-header {
    position: relative;
}
.auth-link{
  position: absolute;
    top: 20px;
    right: 20px;
}
.auth-link1{
  position: absolute;
    top: 2px;
    right: 20px;
}
.left-sidebar > .btn {
    margin-bottom: 50px;
    margin-top:110px;

}

.btn flash-btn{
margin-top:50px;
}

.picture-logo{
 margin-top: -100px;
 margin-left: 10px;
 width:400px;
 height:400px;
}




.card {
width:225px;
min-height:500px;
box_shadow:1px 2px 4px rgba(0,0,0,0.1);
display:flex;
flex-direction: column;
border-radius: 4px;
position:relative;
transition:0.2s;
}

.card:hover {
box-shadow: 4px 8px 16px rgba(255,102,51,0.2);
}

.card__top {
flex: 0 0 220px;
position: relative
overflow: hidden;
}

.card__bottom {
flex: 1 0 auto;
flex-direction: column;
flex: 1 0 auto;
padding: 10px;
}

.card_label{
position: absolute;
bottom: 10px;
left: 10px;
padding: 4px 8px;
background-color: orange;
border-radius: 4px;
color: white;
font-weight: 400;
font-size: 16px;
}

card__img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%px;
display: block
}

.card__img > img {
width: 100%;
height: 100%;
object-fit: content;
transition: 0.2s;
}

.card__img:hover > img {
transform: scale(1.1);
}

.card__prices{
display:flex;
margin-bottom: 10px;
flex:0 0 50%;
}

.card_price{
width:50%;

}

.card__price::after{
content: '\20B4';
margin-left: 4px;
position: relative;
}

.card__price-discount{
font-size:19px;
font-weight:700;
color:#414141;
display:flex;
flex-wrap: wrap-reverse;
}

.card__price-discount::before{
content:"Зі знижкою";
font-weight:400;
font-size:13px;
color:white;
}

.card__price-common{
font-weight:400;
font-size:17px;
color: #606060;
display:flex;
flex-wrap:wrap-reverse;
justify-content: flex-end;
}

.card__price-common::before{
content:"Звичайний";
font-weight:400;
font-size:13px;
color:white;
}

.card__title{
display:block;
margin-bottom:10px;
font-weight:400;
font-size:17px;
line-height: 150%;
color:#414141;
}

.card__title:hover{
color:#ff6633;
}

.card__btn{
display:block;
width:100%;
font-weight:400;
font-size: 17px;
color: #70c05b;
padding:10px;
text-align:center;
border:1px solid #70c05b;
border-radius:4px;
cursor: pointer;
transition: 0.2s;
margin-top: auto;
}
.card__btn:hover{
border: 1px solid #ff6633;
background-color:#70c05b;
color:#fff;
}

.container{
width:100%;
max-width:1000px;
padding:0 15px;
margin:0 auto;
}

.container__cards{
display:grid;
width:100%;
grid-template-column:repeat(auto-fill, 225px);
justify-content:center;
justify-items:center;
margin: 0 auto;
column-gap: 30px;
row-gap: 40px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 225px);
  width: 100%;
  max-width: 1000px;
  justify-content: center;
  justify-items: center;
  column-gap: 30px;
  row-gap: 40px;
  margin: 0 auto;
  margin-top:-500px;
}

.dropdown_meny_catalog{
position: relative;
 display: inline-block;
}

.dropdown_catalog_content{
position: absolute;
display: none;
background-color: #0f3aa8;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
z-index: 1000;
border-radius: 10px;
overflow: hidden;
width: 100%;
}

.dropdown_catalog_content a {
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown_catalog_content a:hover {
background-color: blue;
}

.dropdown_meny_catalog:hover .dropdown_catalog_content {
display: block;
}





.container_brend {
  position: relative;
  max-width: 420px;
  width: 100%;
  margin-top: 60px;
}

.select-btn {
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 12px;
  cursor: pointer;
  background-color: #FFD6A5;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);

    color: white;

}

.select-btn .btn-text {
  font-size: 18px;
  font-weight: 500;
  color: #2D3436;
}
.btn-text{

}
.select-btn .arrow-dwn {
  display: flex;
  height: 28px;
  width: 28px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #5E8DFF;
  color: white;
  transition: 0.3s;
}


.select-btn.open .arrow-dwn {
  transform: rotate(-180deg);
}


.list-items {
  position: absolute;
  width: 100%;
  margin-top: 12px;
  padding: 10px 0;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  display: none;
}

.select-btn.open ~ .list-items {
  display: block;
}


.list-items .item {
  display: flex;
  align-items: center;
  height: 52px;
  padding: 0 20px;
  cursor: pointer;
  transition: 0.3s;
}

.list-items .item:hover {
  background-color: #f1f5f9;
}


.item .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 2px solid #3b82f6;
  margin-right: 14px;
  transition: 0.3s;
}

.checkbox .check-icon {
  font-size: 12px;
  color: white;
  transform: scale(0);
  transition: 0.2s;
}

.item.checked .checkbox {
  background-color: #3b82f6;
}

.item.checked .check-icon {
  transform: scale(1);
}

.item-text {
  font-size: 16px;
  color: #2D3436;
}

.footer{
background: #c0c0c0;
padding-top:45px;
padding-bottom:130px;
}

.footer-row{
display: flex;
flex-direction:row;
justify-content:space-between;
}

.footer-col{
max-width:350px;
flex-grow:  1;
}

.footer-copyright{
color: black;
line-height: 1.3;
max-width:350px;
flex-grow:  1;
}

.footer-copyright p{
font-size: 16px;
font-weight: 700;
margin-bottom: 15px;
letter-spacing: normal;
}

.footer-copyright-name{
font-weight: 700;
font-size: 16px;
margin-bottom: 15px;
flex-grow: 1;

}

.footer-icons{
max-width:350px;
flex-grow: 1;
}

.footer-icons p{
font-weight: 600;
font-size: 16px;
line-height: 1.3;
color:black;
}

.footer-icons-row{
display: flex;
align-items: center;
}

.footer-icons-row > * + *{
 margin-left: 30px;

}

.footer-contacts{
max-width:350px;
flex-grow: 1;
}

.footer-button{
    display: inline-block;
    height:50px;
    border: 3px solid black;
    border-radius: 50px;
    color:black;
    padding-right:30px;
    padding-left:30px;
    line-height: 44px;
    font-weight: 700;
    font-size:16px;
    text-decoration:none;
    text-transform:uppercase;
    cursor: pointer;

}
.footer-button:hover{
background:#292826;
}
.footer-contacts p{
margin: 15px 0;
font-size:16px;
line-height: 1.3;
color:black;
}

.footer-icons-row img {
    width: 40px;
    height: 40px;
}

.table-product{
    max-width: 1000px;
    margin: 60px auto;
    background: #fdf5e6 ;
    padding: 50px;
    display: flex;
    gap: 80px;
    border-radius: 8px;
    margin-top: -430px;
    margin-left: 500px

}
.image-product{
 width: 100%;
 max-width: 220px;

}
.id-product{
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}
.image-block{
   background: white;
    padding: 30px;
    border-radius: 4px;
    text-align: center;
    width: 300px;
}

.table-product  .body-product{
padding:20px;
}

.body-product h5{
    margin:20px 0;
    font-size: 22px;
    font-weight: bold;
}
.body-product{
 max-width: 400px
}

.name-product{
    font-size: 24px;
    margin-bottom: 20px;
}

.price-product{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px
}

.text-product{
    font-size: 17px;
    line-height: 1.6;
    color: #292826;
    margin-bottom: 30px;

}

.add-corzina-product{
    padding: 14px 40px;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.add-corzina-product:hover{
background:#000;
}